{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container d-flex">
        <main class="h-50 w-75">
            {% for article in object_list %}
                <div class="container">
                    <div class="article-info d-flex align-items-center">
                        <img src="/media/{{ article.user.avatar|default:"users_avatars/default.png" }}"
                             alt="author-avatar" class="author-avatar">
                        <span class="author-name mx-3"><b>{{ article.user.username }}</b></span>
                        <span class="article-publish-date">{{ article.created_at }}</span>
                    </div>
                    <a href="{{ article.get_absolute_url }}" class="text-decoration-none">
                        <p class="display-5">{{ article.title }}</p>
                    </a>
                    <p class="text-muted">{{ article.category.title }}</p>
                    {% if article.image %}
                        <div class="article-image">
                            <img src="/media/{{ article.image }}" alt="article-image" class="article-image pb-3">
                        </div>
                    {% endif %}
                    <div class="article-part-text">
                        {{ article.get_piece_body }}...<br>
                        <a class="btn btn-outline-dark my-3" href="{{ article.get_absolute_url }}">Читать дальше
                            &rightarrow;</a>
                    </div>
                    <div class="article-stats d-flex align-items-center">
                        <div>
                            <img src="{% static 'img/comment.png' %}" alt="cloud">
                            <span class="text-muted h6">{{ article.comment_set.count }}</span>
                        </div>
                        <div class="mx-4">
                            <img src="{% static 'img/like.png' %}" alt="like">
                            <span class="text-muted h6">{{ article.liked_by.count }}</span>
                        </div>
                    </div>
                </div>
                <hr>
            {% endfor %}
            {% if is_paginated %}
                {% include "includes/pagination.html" %}
            {% endif %}
        </main>

        <aside class="h-50 w-25">
            <div class="container">
                <h6>РЕКОМЕНДУЕМ</h6>
                <hr>
                <span class="text-muted h6">Наиболее популярные</span>
                {% for top_article in like_count %}
                    <div class="form-control">
                        <a href="{{ top_article.get_absolute_url }}" class="text-decoration-none">{{ top_article.title }}</a>
                        <div class="article-stats">
                            {{ top_article.comment_set.count }} <img src="{% static 'img/comment.png' %}" alt="cloud">
                            {{ top_article.liked_by.count }} <img src="{% static 'img/like.png' %}" alt="like">
                        </div>
                    </div>
                {% endfor %}

                <br><br>

                <span class="text-muted h6">Наиболее обсуждаемые</span>
                {% for top_article in comment_count %}
                    <div class="form-control">
                        <a href="{{ top_article.get_absolute_url }}" class="text-decoration-none">{{ top_article.title }}</a>
                        <div class="article-stats">
                            {{ top_article.comment_set.count }} <img src="{% static 'img/comment.png' %}" alt="cloud">
                            {{ top_article.liked_by.count }} <img src="{% static 'img/like.png' %}" alt="like">
                        </div>
                    </div>
                {% endfor %}


            </div>
        </aside>

    </div>
{% endblock %}
