{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container d-flex">
        <main class="h-50 w-75">
            {% for article in articles %}
                <div class="container">
                    <div class="article-info d-flex align-items-center">
                        <img src="{{ article.user.avatar }}" alt="author-avatar" class="author-avatar px-3">
                        <span class="author-name px-3">{{ article.user.first_name }}</span>
                        <span class="article-publish-date px-3">{{ article.created_at }}</span>
                    </div>
                    <a href="{{ article.get_absolute_url }}" class="text-decoration-none">
                        <p class="display-5">{{ article.title }}</p>
                    </a>
                    <p class="text-muted">{{ article.category.title }}</p>
                    <div class="article-image">
                        <img src="{{ article.image }}" alt="article-image" class="article-image">
                    </div>
                    <div class="article-stats form-control">
                        <img src="{% static 'img/comment.png' %}" alt="cloud">
                        <img src="{% static 'img/like.png' %}" alt="like">
                    </div>
                </div>
            {% endfor %}
        </main>

        <aside class="h-50 w-25">
            <div class="container">
                <h6>РЕКОМЕНДУЕМ</h6>
                <hr>
                {% for top_article in top_articles %}
                    <div class="form-control">
                        <p class="recommended-article-title">{{ top_article.title }}</p>
                        <div class="article-stats">
                            <a href="#"><img src="#" alt="cloud"></a>
                            <a href="#"><img src="#" alt="like"></a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </aside>

    </div>
{% endblock %}
