{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container d-flex">
        <main class="h-50 w-75">
            {% for article in articles %}
                <div class="container">
                    <div class="article-info d-flex align-items-center">
                        <img src="/media/{{ article.user.avatar|default:"users_avatars/default.png" }}"
                             alt="author-avatar" class="author-avatar">
                        <span class="author-name mx-3">{{ article.user.first_name }}</span>
                        <span class="article-publish-date">{{ article.created_at }}</span>
                    </div>
                    <a href="{{ article.get_absolute_url }}" class="text-decoration-none">
                        <p class="display-5">{{ article.title }}</p>
                    </a>
                    <p class="text-muted">{{ article.category.title }}</p>
                    {% if article.image %}
                        <div class="article-image">
                            <img src="/media/{{ article.image }}" alt="article-image" class="article-image pb-3">
                        </div>
                    {% endif %}
                    <div class="article-part-text">
                        {{ article.get_piece_body }}...<br>
                        <a class="btn btn-outline-dark my-3" href="{{ article.get_absolute_url }}">Читать дальше &rightarrow;</a>
                    </div>
                    <div class="article-stats d-flex align-items-center">
                        <div><img src="{% static 'img/comment.png' %}" alt="cloud"></div>
                        <div class="mx-3"><img src="{% static 'img/like.png' %}" alt="like"></div>
                    </div>
                </div>
                <hr>
            {% endfor %}
        </main>

        <aside class="h-50 w-25">
            <div class="container">
                <h6>РЕКОМЕНДУЕМ</h6>
                <hr>
                {% for top_article in top_articles %}
                    <div class="form-control">
                        <p class="recommended-article-title">{{ top_article.title }}</p>
                        <div class="article-stats">
                            <a href="#"><img src="#" alt="cloud"></a>
                            <a href="#"><img src="#" alt="like"></a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </aside>

    </div>
{% endblock %}
