{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="text-center m-5">
            {% include 'registration/includes/inc__account_menu.html' %}

            <h1 class="h3 mb-3 font-weight-normal">Создание новой статьи:</h1>
            <form class="form-horizontal" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <br><br>
                <input type="submit" value="Сохранить" class="form-control btn btn-success">
            </form>

        </div>
    </div>
{% endblock %}