{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="text-center m-5">
            <div class="container d-flex justify-content-between text-center">
                <div class="w-25 py-3">
                    <a href="{% url 'user_statistic' %}" class="btn btn-dark px-5">Моя статистика</a>
                </div>
                <div class="w-25 py-3">
                    <a href="{% url 'user_update_data' %}" class="btn btn-dark px-5">Редактировать данные</a>
                </div>
                <div class="w-25 py-3">
                    <a href="{% url 'user_articles' %}" class="btn btn-dark px-5">Мои статьи</a>
                </div>
            </div>

            <h1 class="h3 mb-3 font-weight-normal">Создание новой статьи:</h1>
            <form class="form-horizontal" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <br><br>
                <input type="submit" value="Сохранить" class="form-control btn btn-success">
            </form>

        </div>
    </div>
{% endblock %}