{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="m-5">
            {% include 'registration/includes/inc__account_menu.html' %}

            <a class="form-control btn btn-success my-3" href="{% url 'user_create_article' %}">Создать новую статью</a>

            {% for article in articles %}
                {% if article.is_banned %}
                    <a href="{{ article.get_absolute_url }}" class="btn form-control">
                        <div class="d-flex form-control justify-content-between py-3 bg-banned">
                            <div class="text-muted">{{ article.created_at }}</div>
                            <div class="h6">{{ article }}</div>
                            <div class="text-muted">{{ article.get_status_display }}</div>
                        </div>
                    </a>
                {% else %}
                    <a href="{{ article.get_absolute_url }}" class="btn form-control">
                        <div class="d-flex form-control justify-content-between py-3">
                            <div class="text-muted">{{ article.created_at }}</div>
                            <div class="h6">{{ article }}</div>
                            <div class="text-muted">{{ article.get_status_display }}</div>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}


            <br><br>

            <a href="{% url 'list_articles' %}" class="btn form-control">Вернуться на главную</a>
        </div>
    </div>
{% endblock %}