{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="text-center m-5">
            <div class="container d-flex justify-content-between text-center">
                <div class="w-25 py-3">
                    <a href="{% url 'user_statistic' %}" class="btn btn-dark px-5">Моя статистика</a>
                </div>
                <div class="w-25 py-3">
                    <a href="{% url 'user_update_data' %}" class="btn btn-dark px-5">Редактировать данные</a>
                </div>
                <div class="w-25 py-3">
                    <a href="{% url 'user_articles' %}" class="btn btn-dark px-5">Мои статьи</a>
                </div>
            </div>

            <h1 class="h3 mb-3 font-weight-normal">
                {{ user|capfirst }} <span class="text-muted">({{ user.email }})</span>
            </h1>
            <p>Количество написаных статей: {{ user.article_set.all.count }}</p>
            <p class="display-6">Тут будет моя статистика</p>
            <p class="display-6 bg-dark text-light py-5">Coming soon...</p>
            <br><br>

            <a href="{% url 'list_articles' %}" class="btn form-control">Вернуться на главную</a>
        </div>
    </div>
{% endblock %}