{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="text-center m-5">
            {% include 'registration/includes/inc__account_menu.html' %}
        </div>
        <hr>
        <div class="d-flex justify-content-between align-items-center">
            <div class="w-50">
                <p>Почта пользователя: {{ user.email }}</p>
                {% if user.first_name %}
                    <p>Имя: {{ user.first_name }}</p>
                {% endif %}
                {% if user.age %}
                    <p>Возраст: {{ user.age }}</p>
                {% endif %}
                {% if user.age %}
                    <p>Последнее обновление: {{ user.updated_at }}</p>
                {% endif %}
                <p>Количество написаных статей: {{ user.article_set.all.count }}</p>
                <p>Из них опубликованно: {{ published }}</p>
                <p>Количество лайков за статьи: {{ count }}</p>
                <p>Всего оставлено комментариев: {{ comments }}</p>
            </div>
            <div class="w-50">
                <img src="/media/{{ user.avatar|default:'users_avatars/default.png' }}" alt="avatar">
            </div>
        </div>
        <hr>
        <a href="{% url 'list_articles' %}" class="btn form-control">Вернуться на главную</a>
        <hr>

    </div>
{% endblock %}