.article-stats img {
    width: 30px;
}

.bg-banned {
    background-color: #f76363;
    opacity: .6;
}

.article-image {
    max-width: 100%;
    max-height: 50vh;
}

.author-avatar {
    max-width: 5vh;
    max-height: 5vh;
}

.comment-left-indent {
    padding-left: 50px;
}

.hr-dashed {
	margin: 20px 0;
	padding: 0;
	height: 0;
	border: none;
	border-top: 2px dashed #ddd;
}

.comment-quote {
    background-color: #f8f9fa;
    border-left: 3px solid gainsboro;
    padding-left: 10px;
}

#like {
    cursor: pointer;
}

.like-image {
    font-size: 25px;
}

.like-image-blue {
    color: #4283fd;
    font-size: 25px;
}

.top-logo-img {
    width: 30%;
}

.bottom-logo-img {
    width: 100%;
    height: auto;
}

.no-border {
    border: none;
}

.hr-short-width {
    width: 98%;
}

.custom-form-size {
    width: 30%;
    margin-left: 35%;
}
